.visible {
    display: block;
}

.invisible {
    display: none;
}



.banner.subscription {
    &.rent {

        .banner__text-block {
            width: 70rem;
        }

        .banner__subtitle {
            width: 100%;
        }
    }

}


.banner.subscription {
    &.installation {

        .banner__background {
            width: 71rem;
        }

        .banner__text-block {
            width: 90rem;
        }

        .banner__subtitle {
            width: 100%;
        }
    }

}


.benefits.colacation {
    .benefits {

        &__text-block {
            padding-top: 8rem;
            margin-right: 19rem;
        }

        &__box-block {
            display: flex;
            flex-wrap: wrap;

            
        }

        

        &__subtitle {
            margin-bottom: 4.7rem;
        }

        &__box {
            padding: 2.9rem 3rem 3rem 3rem;

            &:not(:nth-child(-3n)) {
                margin-bottom: 4.2rem;
            }

            &:not(:last-child) {
                margin-right: 0rem;
            }

            &:not(:nth-child(2n)) {
                margin-right: 4rem;
            }
        }
    }
}

.in-price.rent {
    .in-price {

        &__title {
            margin-bottom: 4.5rem;
        }

        &__text-wrap {
            padding-left: 3rem;
            width: 48rem;
            margin-bottom: 6.5rem;
        }
    }
}


.solution.rent {
    margin-bottom: 18rem;
}


.feedback.rent {
    margin-bottom: 22rem;
}


.problems.rent {
    margin-bottom: 19rem;
}

.stages {

    background: #ffffff;
    padding-top: 16.2rem;
    padding-bottom: 18rem;
    margin-bottom: 16.1rem;


    &__top {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 5.5rem;
    }

    &__title-wrap {
        width: 45%;
    }

    &__title {
        margin-bottom: 1.5rem;
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__box {
        width: 34rem;
        height: 43.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 2rem;
        padding-top: 2.6rem;
        border-radius: 0px 0px 0px 4.5rem;
        position: relative;

        &::before {
            content: "";
            width: 4rem;
            height: 0.1rem;
            background: #06A4D9;

            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &__box-num {
        width: 7rem;
        height: 7rem;
        background: #FFFFFF;
        box-shadow: 0 1.5rem 7rem rgba(22, 11, 21, 0.1);
        border-radius: 0 2rem;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 3rem;
        font-weight: 600;
        color: #777777;

        position: absolute;
        top: 50%;
        right: 0;
    }

    &__box-title {
        font-size: 2rem;
        font-weight: 500;
        color: #292D32;
        margin-bottom: 1rem;
    }

    &__box-text {
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1.268;
        color: #292D32;
        margin-bottom: auto;
    }

    &__img {
        border-radius: 0px 0px 0px 4.5rem;
        width: 100%;
        height: 20rem;
        object-fit: cover;
    }
}



.count {
    margin-bottom: 16.7rem;


    &__title {
        font-size: 4rem;
        font-weight: 700;
        color: #292D32;
        margin-bottom: 6rem;
    }

    &__content-top {
        padding-bottom: 5rem;
        border-bottom: 1px solid #CCCCCC;
    }

    &__bottom {
        padding-top: 3.8rem;
        display: flex;
        justify-content: space-between;
    }

    &__outsourcing {
        width: 35%;
    }

    &__outsourcing-title {
        font-size: 2.5rem;
        font-weight: 600;
        color: rgba(41, 45, 50, 1);
        margin-bottom: 2.5rem;
    }

    &__outsourcing-prices {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 81.5%;
    }

    &__outsourcing-new-price {
        font-size: 5rem;
        font-weight: 700;
        color: rgba(41, 45, 50, 1);

        sup {
            font-size: 3rem;
            font-weight: 400;
            color: rgba(41, 45, 50, 1);
        }
    }

    &__outsourcing-old-price {
        font-size: 3rem;
        font-weight: 400;
        color: rgba(119, 119, 119, 1);

        position: relative;

        &::after {
            content: "";
            width: 10rem;
            height: 0.1rem;
            background-color: rgba(119, 119, 119, 1);

            position: absolute;
            bottom: 1.5rem;
            left: 0;
            right: 0;
        }

        sup {
            font-size: 1.8rem;
            font-weight: 400;
            text-decoration: none;
        }
    }

    &__application {
        width: 45.5%;
    }

    &__application-form {
        width: 100%;
        position: relative;
    }

    &__application-title-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    &__application-title {
        font-size: 2.5rem;
        font-weight: 600;
        color: rgba(41, 45, 50, 1);
        width: 65%;
    }

    &__application-label {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        font-size: 1.4rem;
        font-weight: 400;
        color: rgba(41, 45, 50, 1);
        width: 30%;
        line-height: 1.3;
        cursor: pointer;
    }

    &__application-label-title {
        font-size: 1.4rem;
        font-weight: 400;
        color: rgba(41, 45, 50, 1);
        width: 18rem;
    }

    &__application-checkbox-input {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);

        &:checked+.count__application-checkbox-style::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 2rem;
            height: 2rem;
            border: 0.15rem solid #06A4D9;
            border-radius: 0.3rem;
            background-image: url(./../img/check.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 1.25rem;
            transform: translate(-50%, -50%);
        }
    }

    &__application-checkbox-style {
        position: absolute;
        width: 2rem;
        height: 2rem;
        background: #FFFFFF;
        border: 1px solid #C0C0C0;
        margin-right: 1rem;
    }

    &__application-info-wrap {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__application-input-wrap {

        border-bottom: 1.5px solid #D6D6D6;
        position: relative;
        padding-bottom: 1rem;

        &:nth-child(1) {
            width: 25.2rem;
        }

        &:nth-child(2) {
            width: 42rem;
        }

        &:focus-within {
            border-bottom: 1.5px solid #06A4D9;

            .count__application-input-img {
                stroke: #06A4D9;
            }
        }
    }

    &__application-input-img {
        width: 2.4rem;
        height: 2.4rem;
        stroke: #292D32;
        margin-right: 1rem;

        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &__application-input {
        padding-left: 3rem;
        font-size: 2.5rem;
        width: 23rem;

        &.input-email {
            width: 35rem;
        }

        &::placeholder {
            font-size: 1.8rem;
            font-weight: 400;
            color: rgba(41, 45, 50, 1);
        }
    }

    &__application-btn {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        background: rgba(41, 45, 50, 1);

        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        right: 0;
        bottom: 0.5rem;

        img {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}


.tabs {

    &__container-wrap {
        display: flex;
    }

    &__no-change {
        width: 50%;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6rem;
        cursor: pointer;
        border-bottom: 1px solid #CCCCCC;
    }

    &__button {
        font-size: 2.5rem;
        font-weight: 400;
        color: #777777;
        width: 47.5%;
        padding-bottom: 2rem;

        &.active {
            font-weight: 700;
            color: #292D32;
            border-bottom: 0.4rem solid #06A4D9;
        }
    }


    &__item-auto {
        width: 50%;
        border-bottom: 1px solid #CCCCCC;
        padding-bottom: 2rem;

        &.active {
            font-weight: 700;
            color: #292D32;
            border-bottom: 4px solid #06A4D9;
        }
    }

    &__item-manually {
        width: 50%;
        border-bottom: 1px solid #CCCCCC;
        padding-bottom: 2rem;

        &.active {
            font-weight: 700;
            color: #292D32;
            border-bottom: 4px solid #06A4D9;
        }
    }

    &__auto {
        display: flex;

        &.tab-item {
            display: none;

            &.active {
                display: flex;
            }
        }
    }

    &__auto-left {
        width: 47.5%;
    }

    &__auto-list {
        width: 100%;
        background: #ffffff;
        padding: 4.5rem 5rem 1.5rem 5rem;
    }

    &__auto-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;

        &:nth-child(1) {
            margin-bottom: 4rem;
        }

        &:nth-child(4) {
            margin-bottom: 4rem;
        }

        &:nth-child(n+5) {
            margin-bottom: 4rem;
        }
    }

    &__auto-item-title-wrap {
        display: flex;
        align-items: center;
        width: 72.5%;
        padding-right: 4rem;
    }

    &__auto-item-title {
        font-size: 2rem;
        font-weight: 500;
        color: #292D32;
        padding-right: 1.5rem;
        width: max-content;

        &.light {
            font-weight: 300;
        }
    }

    &__auto-item-more {
        font-size: 1.6rem;
        font-weight: 500;
        color: #292D32;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 2.5rem;
        height: 2.5rem;
        background-color: #E0E0E0;
        border-radius: 50%;
    }

    &__auto-counter {
        width: 15rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 0.1rem solid #D6D6D6;
        border-radius: 5rem;
        padding: 0 2rem;
        margin-left: 2rem;
    }

    &__auto-counter-btn {
        color: #777777;
    }

    &__auto-counter-value {
        width: 7rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        color: #292D32;
    }


    &__auto-switch {
        cursor: pointer;
        margin-right: auto;

        input:checked+.tabs__auto-switch-row .tabs__auto-switch-icon {
            transform: translateX(3.5rem);
            background-color: #ffffff;
        }

        input:checked+.tabs__auto-switch-row {
            background: #06A4D9;
        }
    }

    &__auto-switch-row {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 7.2rem;
        padding: 1px;
        background: #ffffff;
        border-radius: 6rem;
        border: 1px solid #D6D6D6;
        margin-left: 2rem;
    }

    &__auto-switch-icon {
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        background-color: #D6D6D6;
        position: relative;
        transition-property: transform, background-color;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        transition-duration: 200ms;
    }



    &__auto-right {
        width: 52.5%;
        padding-left: 7.3rem;
    }

    &__auto-right-list-title {
        font-size: 2.5rem;
        font-weight: 700;
        color: #292D32;
        padding-bottom: 3rem;
        border-bottom: 1px solid #CCCCCC;
    }

    &__auto-spoller-title-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 2rem;
        font-weight: 500;
        color: #292D32;

        padding-top: 2.5rem;
        padding-bottom: 3rem;
        border-bottom: 1px solid #CCCCCC;
        width: 100%;

        &:not(:last-child) {
            cursor: pointer;
        }

        &.active {

            .tabs__auto-spoller-elem {
                svg {
                    transform: rotateX(180deg);
                }
            }
           
        }
    }


    .tabs__auto-spoller-elem {

        svg {
            transition: 0.8s;
        }
    }

    &__auto-spoller-text-wrap {
        font-size: 2rem;
        padding-top: 2rem;

        display: none;
    }

    &__auto-spoller-text-item {

        ol {
            counter-reset: num;
            list-style: none;
            padding-left: 3rem;

            li {
                counter-increment: num;
                position: relative;

                &::before {
                    content: counter(num) "";
                    color: #777777;
                    position: absolute;
                    left: -3.3rem;
                    top: 0;
                    text-align: right;
                    font-size: 1.8rem;
                    font-weight: 600;
                }

                &:nth-child(-n+9)::before {
                    content: "0" counter(num) "";
                }

                &:not(:last-child) {
                    margin-bottom: 1rem;
                }
            }
        }
    }

    &__container-inner {
        display: flex;
    }

    &__inner {
        width: 47.5%;
        background-color: #ffffff;
        padding: 4.5rem 4.5rem 2rem 4.5rem;
    }

    &__right {
        width: 50%;
    }

    &__list-inner {
        display: flex;
        align-items: center;
        width: 94%;
        margin-bottom: 4.5rem;
    }

    &__button-inner {
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        color: rgba(119, 119, 119, 1);
        padding-bottom: 1.5rem;
        border-bottom: 1px solid #CCCCCC;
        width: 50%;
        position: relative;

        &.active {

            &::before {
                content: "";
                width: 8rem;
                height: 0.4rem;
                background-color: #06A4D9;

                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }


    &__manually-item {
        width: 100%;

        &.auto-switch {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 4rem;

            .tabs__auto-switch {
                margin-top: 0;
                margin-right: 8rem;
            }
        }
    }

    &__manually-item-title-wrap {
        display: flex;
        align-items: center;
    }

    &__manually-item-title {
        font-size: 2rem;
        font-weight: 500;
        color: rgba(41, 45, 50, 1);
    }

    &__manually-item-title-more {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        background: #E0E0E0;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 1.6rem;
        font-weight: 500;
        color: rgba(41, 45, 50, 1);
        margin-left: 1.5rem;
    }

    &__manually-range-wrapper {
        display: flex;
        align-items: center;
        height: 4rem;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 4.8rem;
    }


    &__manually-range-wrap {
        width: 42.6rem;
    }

    &__manually-range {
        width: 100%;
    }

    .js-range-slider {}

    .irs--round .irs-handle {
        border: 0.4rem solid #06A4D9;
        cursor: pointer;
    }

    .irs--round .irs-bar {
        background-color: #06A4D9;
    }

    &__manually-range-value {
        font-size: 2rem;
        font-weight: 500;
        color: rgba(41, 45, 50, 1);
        width: 8rem;
        height: 4rem;
        border: 1px solid #D6D6D6;
        border-radius: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        margin-top: 2rem;
        margin-left: 2rem;

        .range-input {
            width: inherit;
            height: inherit;
            border-radius: inherit;
            text-align: center;
            padding: 0.5rem;
        }
    }

    .irs-single {
        display: none;
    }

    .irs-min {
        background: transparent;
        font-size: 1.6rem;
        font-weight: 300;
        color: rgba(119, 119, 119, 1);

        top: 50px;
    }

    .irs-max {
        background: transparent;
        font-size: 1.6rem;
        font-weight: 300;
        color: rgba(119, 119, 119, 1);
        top: 50px;
    }

    &__manually-range-unit {
        font-size: 2rem;
        font-weight: 500;
        color: rgba(41, 45, 50, 1);
        margin-top: 2rem;
        width: 6.8rem;
    }

    &__basic {
        width: 53.3%;
        padding-left: 8rem;
    }

    &__basic-title {
        font-size: 2.5rem;
        font-weight: 700;
        color: #292D32;
        margin-bottom: 3rem;
    }

    &__basic-content {
        display: flex;
        justify-content: space-between;
    }

    &__basic-column {
        width: 45%;
    }

    &__basic-column-title {
        font-size: 2rem;
        font-weight: 400;
        color: #777777;
        margin-bottom: 4rem;
    }

    &__basic-item-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 2.6rem;
        border-bottom: 1px solid #CCCCCC;

        &:not(:last-child) {
            margin-bottom: 1.85rem;
        }
    }

    &__basic-item-title {
        font-size: 1.8rem;
        font-weight: 400;
        color: #292D32;
    }

    &__basic-item-value {
        font-size: 2rem;
        font-weight: 500;
        color: #292D32;
    }
}

.packages {
    position: relative;
    padding-top: 16.6rem;
    margin-bottom: 16.7rem;

    &::before {
        content: "";
        width: 100%;
        height: 70rem;
        background: rgba(33, 33, 41, 1);

        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    &__title-wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 6.5rem;
    }

    &__title {
        font-size: 4rem;
        font-weight: 700;
        color: #ffffff;
        width: 45%;
        line-height: 1.268;
    }

    &__subtitle {
        font-size: 1.8rem;
        font-weight: 300;
        color: #ffffff;
        width: 48.5%;
        line-height: 1.15;
    }

    &__content-title-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-bottom: 1.5rem;
        border-bottom: 1px solid #949699;
        margin-bottom: 7.3rem;
    }

    &__content-title {
        font-size: 2rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        position: relative;
        cursor: pointer;

        &.active {
            font-weight: 700;
            color: #ffffff;

            &::after {
                content: "";
                width: 8rem;
                height: 0.4rem;
                background-color: #06A4D9;


                position: absolute;
                bottom: -1.5rem;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    &__box-wrap {
        display: flex;
        justify-content: space-between;
    }

    &__box {
        width: 34.5rem;
        background: #FFFFFF;
        box-shadow: 0 0 6rem rgba(22, 11, 21, 0.05);
        border-radius: 0 4.5rem 0 0;
        padding: 3.5rem 3rem 2rem 3rem;
        border-bottom: 0.5rem solid #212129;
        cursor: pointer;
        transition: 0.8s;

        &:hover {
            border-bottom: 0.5rem solid rgba(6, 164, 217, 1);

            .packages__box-item {
                &::before {
                    color: rgba(6, 164, 217, 1);
                }
            }
        }
    }

    &__box-title {
        font-size: 2rem;
        font-weight: 600;
        color: rgba(41, 45, 50, 1);
        padding-bottom: 2rem;
        border-bottom: 1px solid #E0E0E0;
        margin-bottom: 2rem;
        text-align: center;
        position: relative;

        &::after {
            content: "";
            width: 5rem;
            height: 0.4rem;
            background-color: #06A4D9;

            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__box-price {
        font-size: 4rem;
        font-weight: 700;
        color: rgba(41, 45, 50, 1);
        text-align: center;
        margin-bottom: 2rem;

        sup {
            font-size: 2.5rem;
            font-weight: 400;
        }
    }

    &__box-btn {
        margin: 0 auto 4rem auto;
        width: 100%;
    }

    &__box-list {
        font-size: 1.6rem;
        font-weight: 300;
        color: rgba(22, 11, 21, 1);
        padding-left: 2rem;
        line-height: 1.268;

        list-style: none;
        counter-reset: num;
    }

    &__box-item {
        counter-increment: num;
        padding-left: 1.5rem;
        position: relative;

        &::before {
            content: counter(num) "";
            position: absolute;
            left: -1.5rem;
            top: 0;
            text-align: right;
            font-size: 1.6rem;
            font-weight: 600;
            color: rgba(119, 119, 119, 1);
            transition: 0.8s;
        }

        &:nth-child(-n+9)::before {
            content: "0"counter(num) "";
        }

        &:not(:last-child) {
            margin-bottom: 1.3rem;
        }
    }
}




.price-list {

    margin-bottom: 4.5rem;


    &__top-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 6rem;
    }

    &__title {
        margin-bottom: 1.5rem;
    }

    &__content {
        height: 100rem;
        width: 100%;
        position: relative;
    }

    &__item-wrapper {
        width: 100%;
    }

    &__item {
        width: 34.5rem;
        padding: 2.5rem 3rem 2.3rem 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        cursor: pointer;
        transition: 0.5s;

        &:not(:last-child) {

            &::before {
                content: "";
                height: 0.1rem;
                width: 28.5rem;
                background: #CCCCCC;
                position: absolute;
                bottom: 0;
            }
        }

        &.active {
            background: #ffffff;

            &::after {
                content: "";
                height: 100%;
                width: 0.5rem;
                background: rgba(6, 164, 217, 1);
                position: absolute;
                left: 0;
                top: 0;
            }


            &::before {
                top: -0.2rem;
                background: #ffffff;
                height: 0.2rem;
                left: 0;
                width: 100%;
                z-index: 2;
            }

            .price-list__item-title {
                font-weight: 700;
            }
        }
    }

    &__item-img {
        width: 2rem;
        height: 1.5rem;
    }

    &__item-title {
        font-size: 1.8rem;
        font-weight: 400;
        color: rgba(41, 45, 50, 1);
        width: 80%;
    }

    &__price {
        width: 111.5rem;
        background-color: #ffffff;
        padding: 5rem 5rem 6rem 5rem;
        position: absolute;
        top: 0;
        right: 0;

        display: none;

        &.active {
            display: block;
        }
    }

    &__price-title-wrap {
        display: flex;
        justify-content: space-between;
        padding-bottom: 2rem;
        border-bottom: 1px solid #06A4D9;
        margin-bottom: 2.3rem;
    }

    &__price-title {
        font-size: 2rem;
        font-weight: 600;
        color: rgba(25, 28, 32, 1);
    }

    &__price-item {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1.2rem;

        &:not(:last-child) {
            margin-bottom: 2.5rem;
            border-bottom: 1px solid #E0E0E0;
        }
    }

    &__price-key {
        font-size: 1.8rem;
        font-weight: 400;
        color: rgba(25, 28, 32, 1);
        width: 50%;
    }

    &__price-value {
        font-size: 2.5rem;
        font-weight: 600;
        color: rgba(25, 28, 32, 1);
        width: 22%;

        sup {
            font-size: 1.4rem;
            font-weight: 400;
        }
    }
}



.dpc {

    margin-bottom: 33rem;


    &__title {
        margin-bottom: 6rem;
        width: 50%;
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__box {
        width: 33rem;
        border-radius: 0 4.5rem 0 4.5rem;
        filter: drop-shadow(0px 1rem 4rem rgba(22, 11, 21, 0.05));
        transition: 0.8s;
        cursor: pointer;

        @media (min-width: 48em) {
            &:hover {
                transform: scale(1.2, 1.3);
                transform-origin: top;
            }
        }
    }

    &__box-photo {
        width: 100%;
        height: 30rem;
        border-radius: 0 4.5rem 0 0;

        img {
            height: 100%;
            border-radius: inherit;
            object-fit: cover;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 21.63%, #000000 172.5%);
        }
    }

    &__box-text {
        background: #FFFFFF;
        border-radius: 0px 0px 0px 4.5rem;
        padding: 3rem 2rem 2.6rem 2rem;

        position: relative;
    }

    &__box-price-wrap {
        width: 9.9rem;
        height: 4.3rem;
        background: linear-gradient(95.11deg, #06A4D9 47.09%, #0597C8 109%);
        border-radius: 1.5rem 0px;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 2rem;
        font-weight: 400;
        color: #ffffff;

        position: absolute;
        top: -2.15rem;
        left: 2rem;

        span {
            margin-right: 0.7rem;
        }
    }

    &__box-title {
        font-size: 2.4rem;
        font-weight: 600;
        color: #292D32;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }

    &__box-subtitle {
        font-size: 1.8rem;
        font-weight: 400;
        color: #777777;
        margin-bottom: 2rem;
    }

    &__box-link-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__box-btn {
        width: 10rem;
        height: 3.5rem;
        border: 0.1rem solid #06A4D9;
        border-radius: 10rem;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 1.6rem;
        font-weight: 400;
        color: #06A4D9;
    }

    &__box-more {
        font-size: 1.6rem;
        font-weight: 400;
        color: #06A4D9;
    }
}




.rent-server {
    padding-top: 15.4rem;
    margin-bottom: 20rem;
    position: relative;

    &::after {
        content: "";
        width: 119.9rem;
        height: 102rem;
        background: #FFFFFF;
        border-radius: 6rem 0;

        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }

    &__title-wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 6rem;
        width: 90%;
    }

    &__features-wrap {
        width: 16%;
        display: flex;
        align-items: center;
        padding-top: 0.8rem;

        svg {
            width: 4rem;
            height: 4rem;
            margin-right: 1.5rem;
            flex-shrink: 0;
        }
    }

    &__features-title {
        font-size: 1.8rem;
        font-weight: 500;
        color: #777777;
    }

    &__title {
        width: 90.5rem;
        line-height: 1.268;
        width: 69%;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        position: relative;

        &::before {
            content: "";
            width: 20rem;
            height: 0.4rem;
            background: #06A4D9;

            position: absolute;
            right: 0;
            bottom: 0;
        }
    }

    &__photo-block {
        width: 56rem;
        height: 76.4rem;
        border-radius: 0 6rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: inherit;
        }
    }

    &__text-block {
        width: 84rem;
    }

    &__par {
        font-size: 1.8rem;
        font-weight: 300;
        color: #292D32;
        line-height: 1.267;
        width: 73rem;

        a {
            color: #06A4D9;
            text-decoration: underline;
        }

        &:not(:last-child) {
            margin-bottom: 2.5rem;
        }
    }
}

.reviews.rent {
    margin-bottom: 20.5rem;
}

.cooperation {

    margin-bottom: 18rem;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title-wrap {
        width: 70%;
        margin-bottom: 6rem;
    }

    &__title {
        margin-bottom: 1.2rem;
    }

    &__subtitle {
        width: 75%;
    }

    &__btn {
        margin-bottom: 2rem;
    }


    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__content-img {
        border-radius: 0px 6rem;
        width: 43rem;

        img {
            border-radius: inherit;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__text-block {
        display: flex;
        flex-wrap: wrap;
        width: 101rem;
        padding-top: 4rem;
    }

    &__item {
        width: 31rem;
        padding: 1rem;

        &:not(:nth-child(3n)) {
            margin-right: 4rem;
        }

        &:not(:nth-child(n + 2)) {
            margin-bottom: 0rem;
        }
    }

    &__item-title-wrap {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }

    &__item-num {
        font-size: 2.5rem;
        font-weight: 600;
        color: rgba(41, 45, 50, 1);
        margin-right: 1.5rem;

        position: relative;

        &::before {
            content: "";
            width: 1rem;
            height: 0.3rem;
            background-color: rgba(41, 45, 50, 1);

            position: absolute;
            top: 50%;
            left: -2rem;

            transform: translateX(-50%);
        }
    }

    &__item-title {
        font-size: 2rem;
        font-weight: 500;
        color: rgba(41, 45, 50, 1);
    }

    &__item-subtitle {
        font-size: 1.6rem;
        font-weight: 300;
        color: rgba(41, 45, 50, 1);
    }
}

.packages.packages-2 {
    .packages {
        &__box {
            width: 46rem;
        }
    }
}
