.feedback--article {
  &.page-contacts {
    margin-top: 18rem;
    margin-bottom: 18rem;

    &:before {
      width: 160rem;
      border-radius: 0 0 0 6rem;
    }

    .feedback__substrate {
      top: -13rem;
    }
  }
}